<nav class="navbar navbar-default background">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a routerLink="/" class="navbar-brand background">Find your Recipe!!!</a> -->
      <h3>Find your Recipe!!!</h3>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav"><br><br>
        <li><a routerLink="/home"><b>Home</b></a></li>
        <li><a routerLink="/search-recipe"><b>Search Recipe</b></a></li>
        <li><a routerLink="/contact-us"><b>Contact Us</b></a></li>
      </ul>

    </div>
  </div>
</nav>
