<div class="parent-container">
  <div class="child-container">
    <h2><b>Thank you for Contacting Us</b></h2>
    <br><br><br>
    <form>
      <div class="form-group"><br>
        <label>Name: Roshna Maruti Toke</label><br><br>
        <label>Address : 525, East Armour Blvd.</label><br>
        <label>Kansas City, MO 64109</label><br><br>
        <label>Email id: rmtcxk@mail.umkc.edu</label><br><br>
        <label>Contact No. +1 (832)-235 7930</label><br><br>
      </div>
    </form>
  </div>
</div>
